<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <div id="app">
      <!-- <p v-if="characterList.length === 0">There are no characters</p> -->
      <ul >
        <li v-for="character in characterList">{{ character.name }} 
          <button @click="handleFavorite(character.name)">Favorite</button>
        </li>
      </ul>
      <li v-for="item in faviorteList"> Faviourte is {{item}}</li>
     
      <p>Add characters</p>
      <label>Character to add</label>
      <input type="text" v-model="newChar.name"/>
      <button @click="addChar">Add character</button>
      <pre>{{newChar}}</pre>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          faviorteList:[],
          newChar:{name:''},
          characterList: [
            {
              name: 'Aang'
            },
            {
              name: 'Zuko'
            },
            {
              name: 'Toph'
            },
            {
              name: 'Katara'
            }
          ]
        }),
        methods:{
          handleFavorite(name){
            this.faviorteList.push(name)
            console.log(name)
          },
          addChar(){
            this.characterList.push(this.newChar)
            this.newChar={name:''}
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
